<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand ml-md-3" routerLink="/" href="#">Together</a> 

    <ul *ngIf="!isAuthenticated" class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link" routerLink="/register" href="#">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/login" href="#">Login</a>
        </li>
    </ul>

    <ul *ngIf="isAuthenticated" class="nav justify-content-end">
        <li *ngIf="isProfileLoaded" class="nav-item">
           <a class="nav-link align-middle" href="#" routerLink ="/profile"> {{ profile.firstName }} {{profile.lastName}}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" (click)="logout()" href="#">Logout</a>
        </li>
    </ul>  

</nav>