<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <a class="navbar-brand ml-md-3" href="/">Together</a>    
   <app-auth-navbar></app-auth-navbar>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-auto">
            <app-route-list></app-route-list>  
        </div>
        <div class="col-md-10">
            
        </div>
    </div>
</div>

<router-outlet></router-outlet>
