<div class="card" style="width: 18rem;" *ngIf="routeLoaded else routeNotLoaded">
    <div class="card-body">
      <h5 class="card-title">{{route.name}}</h5>
      <h6 class="card-subtitle mb-2 text-muted">{{route.startDate}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{route.routeType}}</h6>
      <h6 class="card-subtitle mb-2 text-muted">{{route.passengers.length}}/{{route.maxPassengers}}</h6>
      <p class="card-text">Text</p>
    </div>
</div>

<ng-template #routeNotLoaded>
  <div>
    Loading route...
  </div>
<ng-template>



 