<a class="list-group-item list-group-item-action flex-column align-items-start pb-1">
    <div class="d-flex w-100 mb-2">
      <span class="mr-2 small font-weight-bold">{{routeListItem.routeType}}</span>
      <span class="mr-auto small">{{routeListItem.startDate | date:"hh:mm dd.M.y"}}</span>
      <span class="small badge badge-pill badge-success">{{routeListItem.passengers.length}}/{{routeListItem.maxPassengers}}</span>   
    </div>
    <div class="mb-1" *ngIf="routeListItem.routePoints.length > 1">
        <span class="small text-muted">
          {{from.name}}
        </span>
        <span>
          -
        </span>
        <span class="small text-muted">
          {{to.name}}
        </span>
    </div>


    <div class="passenger-row h6 mb-2">   
      <span *ngFor="let passenger of routeListItem.passengers; let i = index" 
            class="badge badge-pill badge-warning mr-1"  
            data-toggle="tooltip" 
            data-placement="bottom" 
            title="{{passenger.firstName}} {{passenger.lastName}}">
            {{i}}
      </span>

      <a href="#" *ngFor="let ind of freePlacesIndexes">
        <span class="badge badge-pill badge-info mr-1"
              data-toggle="tooltip" 
              data-placement="bottom" 
              title="This place is free! Click to join.">
            {{ind}}
        </span>
      </a>
    </div>

    <div class="d-flex w-100 mb-1">
      <a class="mr-auto" href="#">
        <span class="small text-secondary">{{routeListItem.creatorFirstName}} {{routeListItem.creatorLastName}}</span>
      </a>     
      <a [routerLink]="['/route', routeListItem.id]">Details</a>
    </div>

</a>